{% extends 'base.html.twig' %}


{% block body %}

	<h2>Hello Voici la liste des chambres ! ✅</h2>
	{% for etudiant in etudiants %}
		{% if etudiant.loger %}
			<pre>
      {{ dump(etudiant.loger.id) }}
    </pre>

		{% endif %}


	{% endfor %}
	<table id="table_id">
		<thead>
			<tr>
				<th>Numero</th>
				<th>Type</th>
				<th>Numero Bat</th>
				<th>Update</th>
				<th>Supp</th>
			</tr>
		</thead>
		<tbody>
			{% for chambre in chambres %}
				<tr>
					<td>{{chambre.numero}}</td>
					<td>{{chambre.type}}</td>
					<td>{{chambre.numeroBat}}</td>
					<td>
						<button class="btn-primary">
							<a href="{{path('chambre_update',{'id':chambre.id})}}"><img src="css/image/modif.png"></a>
						</button>
					</td>
					<td>
						<button class="btn-danger">
							<a href="{{path('chambre_delete',{'id':chambre.id})}}" onclick="return confirm('bin');"><img src="css/image/supp.png"></a>
						</button>
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

{% endblock %}
