{% extends 'base.html.twig' %}


{% block body %}
	{% if app.user %}
		<table id="table_id">
			<thead>
				<tr>
					<th>Numero</th>
					<th>Type</th>
					<th>Numero Bat</th>
					<th>Update</th>
					<th>Supp</th>
				</tr>
			</thead>
			<tbody>
				{% for chambre in chambres %}
					<tr>
						<td>{{chambre.numero}}</td>
						<td>{{chambre.type}}</td>
						<td>{{chambre.numeroBat}}</td>
						<td>
							<button class="btn-primary">
								<a href="{{path('chambre_update',{'id':chambre.id})}}"><img src="css/image/modif.png"></a>
							</button>
						</td>
						<td>
							<button class="btn-danger">
								<a href="{{path('chambre_delete',{'id':chambre.id})}}" onclick="return confirm('Cette chambre va etre supprimer');"><img src="css/image/supp.png"></a>
							</button>
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>

	{% else %}
		<a href="{{path('app_login')}}">Connexion</a>

	{% endif %}


{% endblock %}
